
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/**************************
SECTION
**************************/
section {
  clear: both;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 900px) {
  section.withImage {
    background-image: none !important;
    padding-top: 0;
  }
}
section.fullHeight {
  min-height: 100vh;
  clear: both;
  position: relative;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
section.fullHeight.morning {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  background: #2F80ED;
  background: -webkit-gradient(linear, left top, left bottom, from(#56CCF2), to(#2F80ED));
  background: linear-gradient(to bottom, #56CCF2 0%, #2F80ED 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#56CCF2, endColorstr=#2F80ED, GradientType=0);
}
section.fullHeight.noon {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  background: #F2994A;
  background: -webkit-gradient(linear, left top, left bottom, from(#F2C94C), to(#F2994A));
  background: linear-gradient(to bottom, #F2C94C 0%, #F2994A 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2C94C, endColorstr=#F2994A, GradientType=0);
}
section.fullHeight.night {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  background: #283e51;
  background: -webkit-gradient(linear, left top, left bottom, from(#4b79a1), to(#283e51));
  background: linear-gradient(to bottom, #4b79a1 0%, #283e51 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4b79a1, endColorstr=#283e51, GradientType=0);
}
@media (max-width: 900px) {
  section.fullHeight {
    min-height: inherit;
  }
}
section.fullHeight .wheatherBlock {
  background: rgba(255, 255, 255, 0.85);
  height: 70vh;
  border-radius: 30px;
  width: 400px;
  position: relative;
  margin: 10vh auto;
}
section.fullHeight .wheatherBlock h2 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #8a48d4;
}
section.fullHeight .wheatherBlock .inputHolder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
section.fullHeight .wheatherBlock .inputHolder input {
  width: 70%;
  padding: 10px;
}
section.fullHeight .wheatherBlock .inputHolder input:active {
  border: none;
}
section.fullHeight .wheatherBlock .inputHolder button {
  width: 30%;
  padding: 10px 25px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
section.fullHeight .wheatherBlock .weatherHolder h3 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: #8a48d4;
  margin: 20px auto 10px auto;
}
section.fullHeight .wheatherBlock .weatherHolder .descrip {
  text-align: center;
  display: block;
}
section.fullHeight .wheatherBlock .weatherHolder img {
  width: 120px;
  margin: 20px auto 10px auto;
  display: block;
}
section.fullHeight .wheatherBlock .weatherHolder .temp {
  font-size: 4.5rem;
  padding: 0;
  margin: 10px auto;
}
section.background-repeat {
  background-repeat: repeat;
  background-size: auto;
}
section.background-repeat .fallback {
  display: none !important;
}
section.background-position-left {
  background-position-x: left;
}
section.background-position-right {
  background-position-x: right;
}
section.background-position-top {
  background-position-y: top;
}
section.background-position-bottom {
  background-position-y: bottom;
}
section .fallback {
  display: none;
}
@media (max-width: 900px) {
  section .fallback {
    display: block;
  }
}
section .fallback img {
  width: 100%;
  height: auto;
  display: block;
}
/**************************
BLOCK / LIST
**************************/
.block,
.list,
.blocks,
.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-decoration: none;
}
.block .content,
.list .content,
.blocks .content,
.slider .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.block img,
.list img,
.blocks img,
.slider img {
  border: 0;
  max-width: 100%;
  height: auto;
}
.block .footer a,
.list .footer a,
.blocks .footer a,
.slider .footer a {
  text-decoration: none;
}
.block .footer span,
.list .footer span,
.blocks .footer span,
.slider .footer span {
  color: #279ef2;
  text-decoration: none;
  display: inline-block;
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
}
.block .footer span:after,
.list .footer span:after,
.blocks .footer span:after,
.slider .footer span:after {
  display: inline-block;
  margin-left: 5px;
  font-family: "theme";
  font-size: 1.4rem;
  content: "\e315";
  vertical-align: bottom;
}
.ua-desktop .block .footer span:hover,
.ua-desktop .list .footer span:hover,
.ua-desktop .blocks .footer span:hover,
.ua-desktop .slider .footer span:hover {
  color: #274299;
}
.gridCenter {
  margin: 0 auto;
  float: none;
  clear: both;
}
.gridCenter:after {
  clear: both;
  display: table;
  content: " ";
}
@media (min-width: 900px) {
  .grid_12 {
    float: left;
    width: 100%;
  }
}
@media (min-width: 1023px) {
  .grid_12 {
    width: 100% !important;
  }
}
@media (min-width: 900px) {
  .toGrid_12 {
    width: 100% !important;
  }
}
@media (min-width: 900px) {
  .grid_11 {
    float: left;
    width: 91.66666667%;
  }
}
@media (min-width: 1023px) {
  .grid_11 {
    width: 91.66666667% !important;
  }
}
@media (min-width: 900px) {
  .toGrid_11 {
    width: 91.66666667% !important;
  }
}
@media (min-width: 900px) {
  .grid_10 {
    float: left;
    width: 83.33333333%;
  }
}
@media (min-width: 1023px) {
  .grid_10 {
    width: 83.33333333% !important;
  }
}
@media (min-width: 900px) {
  .toGrid_10 {
    width: 83.33333333% !important;
  }
}
@media (min-width: 900px) {
  .grid_9 {
    float: left;
    width: 75%;
  }
}
@media (min-width: 1023px) {
  .grid_9 {
    width: 75% !important;
  }
}
@media (min-width: 900px) {
  .toGrid_9 {
    width: 75% !important;
  }
}
@media (min-width: 900px) {
  .grid_8 {
    float: left;
    width: 66.66666667%;
  }
}
@media (min-width: 1023px) {
  .grid_8 {
    width: 66.66666667% !important;
  }
}
@media (min-width: 900px) {
  .toGrid_8 {
    width: 66.66666667% !important;
  }
}
@media (min-width: 900px) {
  .grid_7 {
    float: left;
    width: 58.33333333%;
  }
}
@media (min-width: 1023px) {
  .grid_7 {
    width: 58.33333333% !important;
  }
}
@media (min-width: 900px) {
  .toGrid_7 {
    width: 58.33333333% !important;
  }
}
@media (min-width: 900px) {
  .grid_6 {
    float: left;
    width: 50%;
  }
}
@media (min-width: 1023px) {
  .grid_6 {
    width: 50% !important;
  }
}
@media (min-width: 900px) {
  .toGrid_6 {
    width: 50% !important;
  }
}
@media (min-width: 900px) {
  .grid_5 {
    float: left;
    width: 41.66666667%;
  }
}
@media (min-width: 1023px) {
  .grid_5 {
    width: 41.66666667% !important;
  }
}
@media (min-width: 900px) {
  .toGrid_5 {
    width: 41.66666667% !important;
  }
}
@media (min-width: 900px) {
  .grid_4 {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 1023px) {
  .grid_4 {
    width: 33.33333333% !important;
  }
}
@media (min-width: 900px) {
  .toGrid_4 {
    width: 33.33333333% !important;
  }
}
@media (min-width: 900px) {
  .grid_3 {
    float: left;
    width: 25%;
  }
}
@media (min-width: 1023px) {
  .grid_3 {
    width: 25% !important;
  }
}
@media (min-width: 900px) {
  .toGrid_3 {
    width: 25% !important;
  }
}
@media (min-width: 900px) {
  .grid_2 {
    float: left;
    width: 16.66666667%;
  }
}
@media (min-width: 1023px) {
  .grid_2 {
    width: 16.66666667% !important;
  }
}
@media (min-width: 900px) {
  .toGrid_2 {
    width: 16.66666667% !important;
  }
}
@media (min-width: 900px) {
  .grid_1 {
    float: left;
    width: 8.33333333%;
  }
}
@media (min-width: 1023px) {
  .grid_1 {
    width: 8.33333333% !important;
  }
}
@media (min-width: 900px) {
  .toGrid_1 {
    width: 8.33333333% !important;
  }
}
/**************************
PADDING
**************************/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_12 {
  padding-right: 10px;
}
.grid_12 {
  float: none;
}
.paddingLeft {
  padding-left: 10px;
}
.paddingRight {
  padding-right: 10px;
}
.paddingTop {
  padding-top: 10px;
}
.paddingBottom {
  padding-bottom: 10px;
}
.paddingAll {
  padding: 10px;
}
.paddingBoth {
  padding-left: 10px;
  padding-right: 10px;
}
.paddingLeftX2 {
  padding-left: 20px;
}
.paddingRightX2 {
  padding-right: 20px;
}
.paddingTopX2 {
  padding-top: 20px;
}
.paddingBottomX2 {
  padding-bottom: 20px;
}
.paddingAllX2 {
  padding: 20px;
}
.paddingBothX2 {
  padding-left: 20px;
  padding-right: 20px;
}
.marginLeft {
  margin-left: 10px;
}
.marginRight {
  margin-right: 10px;
}
.marginTop {
  margin-top: 10px;
}
.marginBottom {
  margin-bottom: 10px;
}
.marginBoth {
  margin-left: 10px;
  margin-right: 10px;
}
.footerContainer {
  padding: 10px 0;
}
.headerContainer {
  padding: 10px 0;
}
.headerContainer .mainNav,
.headerContainer .topMenu {
  top: 10px;
}
.sectionItem {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footerText {
  padding-top: 10px;
  display: block;
}
.rss {
  top: 10px;
  right: 10px;
}
.noResults {
  padding: 0 10px;
}
.block {
  padding: 10px;
  margin-bottom: 10px;
}
.block .headerWidgetText {
  padding: 0 0 10px;
}
.block .footerWidgetText {
  padding: 10px 0 0;
}
.block .header {
  padding: 0 0 5px;
}
.block .footer {
  padding: 10px 0 0;
}
.forms {
  padding: 10px 0;
  margin-bottom: 10px;
}
.forms .header {
  padding: 0 10px;
}
.forms .content .frmRow {
  padding-left: 10px;
  padding-right: 10px;
}
.forms .footer {
  padding: 0 10px;
}
.list {
  padding: 10px 0;
  margin-bottom: 10px;
}
.list .headerWidgetText {
  padding: 0 10px 10px;
}
.list .footerWidgetText {
  padding: 10px 10px 0;
}
.list .header {
  padding: 0 10px 5px;
}
.list .content a,
.list .content .item {
  padding: 7px 20px 7px 10px;
}
.list .content a:before,
.list .content .item:before {
  right: 10px;
}
.list .footer {
  padding: 10px 10px 0;
}
.list.favorites .widgetEntry a {
  padding: 7px 20px 7px 55px;
}
.list.favorites .widgetEntry a .widgetHeader {
  padding: 0;
}
.list.faq .item {
  padding: 7px 0;
}
.list.faq .item .widgetHeader {
  padding: 0 20px 0 10px;
}
.list.faq .item .answer {
  padding: 0 10px;
}
.blockEntry .item {
  padding-right: 10px;
}
.image.positionimageTop .media,
.video.positionimageTop .media,
.gallery.positionimageTop .media {
  padding-bottom: 10px;
}
.image.positionimageBottom .media,
.video.positionimageBottom .media,
.gallery.positionimageBottom .media {
  padding-top: 10px;
}
.image.positionimageLeft .media,
.video.positionimageLeft .media,
.gallery.positionimageLeft .media {
  padding-right: 10px;
}
.image.positionimageRight .media,
.video.positionimageRight .media,
.gallery.positionimageRight .media {
  padding-left: 10px;
}
.maps .mapControl {
  left: 10px;
  top: 10px;
}
.actionButton {
  margin-bottom: 10px;
}
.sectionButtons .actionButton {
  margin: 0 5px 10px;
}
.section-tabs .tabs li {
  padding-left: 10px;
}
.social {
  margin-bottom: 10px;
}
.coverContent {
  bottom: 20px;
}
.positionTopLeft .coverContent,
.positionTopRight .coverContent {
  bottom: auto;
  top: 20px;
}
.widgetData {
  padding: 10px 0;
  margin-bottom: 10px;
}
.widgetData legend {
  padding: 0 5px;
  margin: 0 5px;
}
.widgetData .row {
  padding: 0 10px;
}
.sitemap .dxsmLevel0_C2G a,
.sitemap .dxsmLevel1_C2G a,
.sitemap .dxsmLevel0_C2G span,
.sitemap .dxsmLevel1_C2G span {
  padding: 8px 10px !important;
}
.sitemap .dxsmLevel2_C2G a,
.sitemap .dxsmLevel2_C2G span {
  padding: 8px 20px !important;
}
.sitemap .dxsmLevel3_C2G a,
.sitemap .dxsmLevel3_C2G span {
  padding: 8px 30px !important;
}
.sitemap .dxsmLevel0_C2G a:before,
.sitemap .dxsmLevel1_C2G a:before,
.sitemap .dxsmLevel2_C2G a:before,
.sitemap .dxsmLevel3_C2G a:before {
  right: 10px;
}
.search .searchCatTitle {
  padding: 10px 10px 3px;
}
.search-filter .item {
  padding-right: 10px;
}
.mainWidth {
  padding: 0px 0%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
@media (min-width: 767px) {
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_12 {
    padding-right: 15px;
  }
  .grid_12 {
    float: none;
  }
  .paddingLeft {
    padding-left: 15px;
  }
  .paddingRight {
    padding-right: 15px;
  }
  .paddingTop {
    padding-top: 15px;
  }
  .paddingBottom {
    padding-bottom: 15px;
  }
  .paddingAll {
    padding: 15px;
  }
  .paddingBoth {
    padding-left: 15px;
    padding-right: 15px;
  }
  .paddingLeftX2 {
    padding-left: 30px;
  }
  .paddingRightX2 {
    padding-right: 30px;
  }
  .paddingTopX2 {
    padding-top: 30px;
  }
  .paddingBottomX2 {
    padding-bottom: 30px;
  }
  .paddingAllX2 {
    padding: 30px;
  }
  .paddingBothX2 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .marginLeft {
    margin-left: 15px;
  }
  .marginRight {
    margin-right: 15px;
  }
  .marginTop {
    margin-top: 15px;
  }
  .marginBottom {
    margin-bottom: 15px;
  }
  .marginBoth {
    margin-left: 15px;
    margin-right: 15px;
  }
  .footerContainer {
    padding: 15px 0;
  }
  .headerContainer {
    padding: 15px 0;
  }
  .headerContainer .mainNav,
  .headerContainer .topMenu {
    top: 15px;
  }
  .sectionItem {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footerText {
    padding-top: 15px;
    display: block;
  }
  .rss {
    top: 15px;
    right: 15px;
  }
  .noResults {
    padding: 0 15px;
  }
  .block {
    padding: 15px;
    margin-bottom: 15px;
  }
  .block .headerWidgetText {
    padding: 0 0 15px;
  }
  .block .footerWidgetText {
    padding: 15px 0 0;
  }
  .block .header {
    padding: 0 0 7.5px;
  }
  .block .footer {
    padding: 15px 0 0;
  }
  .forms {
    padding: 15px 0;
    margin-bottom: 15px;
  }
  .forms .header {
    padding: 0 15px;
  }
  .forms .content .frmRow {
    padding-left: 15px;
    padding-right: 15px;
  }
  .forms .footer {
    padding: 0 15px;
  }
  .list {
    padding: 15px 0;
    margin-bottom: 15px;
  }
  .list .headerWidgetText {
    padding: 0 15px 15px;
  }
  .list .footerWidgetText {
    padding: 15px 15px 0;
  }
  .list .header {
    padding: 0 15px 7.5px;
  }
  .list .content a,
  .list .content .item {
    padding: 7px 30px 7px 15px;
  }
  .list .content a:before,
  .list .content .item:before {
    right: 15px;
  }
  .list .footer {
    padding: 15px 15px 0;
  }
  .list.favorites .widgetEntry a {
    padding: 7px 30px 7px 55px;
  }
  .list.favorites .widgetEntry a .widgetHeader {
    padding: 0;
  }
  .list.faq .item {
    padding: 7px 0;
  }
  .list.faq .item .widgetHeader {
    padding: 0 30px 0 15px;
  }
  .list.faq .item .answer {
    padding: 0 15px;
  }
  .blockEntry .item {
    padding-right: 15px;
  }
  .image.positionimageTop .media,
  .video.positionimageTop .media,
  .gallery.positionimageTop .media {
    padding-bottom: 15px;
  }
  .image.positionimageBottom .media,
  .video.positionimageBottom .media,
  .gallery.positionimageBottom .media {
    padding-top: 15px;
  }
  .image.positionimageLeft .media,
  .video.positionimageLeft .media,
  .gallery.positionimageLeft .media {
    padding-right: 15px;
  }
  .image.positionimageRight .media,
  .video.positionimageRight .media,
  .gallery.positionimageRight .media {
    padding-left: 15px;
  }
  .maps .mapControl {
    left: 15px;
    top: 15px;
  }
  .actionButton {
    margin-bottom: 15px;
  }
  .sectionButtons .actionButton {
    margin: 0 7.5px 15px;
  }
  .section-tabs .tabs li {
    padding-left: 15px;
  }
  .social {
    margin-bottom: 15px;
  }
  .coverContent {
    bottom: 30px;
  }
  .positionTopLeft .coverContent,
  .positionTopRight .coverContent {
    bottom: auto;
    top: 30px;
  }
  .widgetData {
    padding: 15px 0;
    margin-bottom: 15px;
  }
  .widgetData legend {
    padding: 0 7.5px;
    margin: 0 7.5px;
  }
  .widgetData .row {
    padding: 0 15px;
  }
  .sitemap .dxsmLevel0_C2G a,
  .sitemap .dxsmLevel1_C2G a,
  .sitemap .dxsmLevel0_C2G span,
  .sitemap .dxsmLevel1_C2G span {
    padding: 8px 15px !important;
  }
  .sitemap .dxsmLevel2_C2G a,
  .sitemap .dxsmLevel2_C2G span {
    padding: 8px 30px !important;
  }
  .sitemap .dxsmLevel3_C2G a,
  .sitemap .dxsmLevel3_C2G span {
    padding: 8px 45px !important;
  }
  .sitemap .dxsmLevel0_C2G a:before,
  .sitemap .dxsmLevel1_C2G a:before,
  .sitemap .dxsmLevel2_C2G a:before,
  .sitemap .dxsmLevel3_C2G a:before {
    right: 15px;
  }
  .search .searchCatTitle {
    padding: 15px 15px 3px;
  }
  .search-filter .item {
    padding-right: 15px;
  }
  .mainWidth {
    padding: 0px 2%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }
}
@media (min-width: 1023px) {
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_12 {
    padding-right: 20px;
  }
  .grid_12 {
    float: none;
  }
  .paddingLeft {
    padding-left: 20px;
  }
  .paddingRight {
    padding-right: 20px;
  }
  .paddingTop {
    padding-top: 20px;
  }
  .paddingBottom {
    padding-bottom: 20px;
  }
  .paddingAll {
    padding: 20px;
  }
  .paddingBoth {
    padding-left: 20px;
    padding-right: 20px;
  }
  .paddingLeftX2 {
    padding-left: 40px;
  }
  .paddingRightX2 {
    padding-right: 40px;
  }
  .paddingTopX2 {
    padding-top: 40px;
  }
  .paddingBottomX2 {
    padding-bottom: 40px;
  }
  .paddingAllX2 {
    padding: 40px;
  }
  .paddingBothX2 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .marginLeft {
    margin-left: 20px;
  }
  .marginRight {
    margin-right: 20px;
  }
  .marginTop {
    margin-top: 20px;
  }
  .marginBottom {
    margin-bottom: 20px;
  }
  .marginBoth {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footerContainer {
    padding: 20px 0;
  }
  .headerContainer {
    padding: 20px 0;
  }
  .headerContainer .mainNav,
  .headerContainer .topMenu {
    top: 20px;
  }
  .sectionItem {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footerText {
    padding-top: 20px;
    display: block;
  }
  .rss {
    top: 20px;
    right: 20px;
  }
  .noResults {
    padding: 0 20px;
  }
  .block {
    padding: 20px;
    margin-bottom: 20px;
  }
  .block .headerWidgetText {
    padding: 0 0 20px;
  }
  .block .footerWidgetText {
    padding: 20px 0 0;
  }
  .block .header {
    padding: 0 0 10px;
  }
  .block .footer {
    padding: 20px 0 0;
  }
  .forms {
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .forms .header {
    padding: 0 20px;
  }
  .forms .content .frmRow {
    padding-left: 20px;
    padding-right: 20px;
  }
  .forms .footer {
    padding: 0 20px;
  }
  .list {
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .list .headerWidgetText {
    padding: 0 20px 20px;
  }
  .list .footerWidgetText {
    padding: 20px 20px 0;
  }
  .list .header {
    padding: 0 20px 10px;
  }
  .list .content a,
  .list .content .item {
    padding: 7px 40px 7px 20px;
  }
  .list .content a:before,
  .list .content .item:before {
    right: 20px;
  }
  .list .footer {
    padding: 20px 20px 0;
  }
  .list.favorites .widgetEntry a {
    padding: 7px 40px 7px 55px;
  }
  .list.favorites .widgetEntry a .widgetHeader {
    padding: 0;
  }
  .list.faq .item {
    padding: 7px 0;
  }
  .list.faq .item .widgetHeader {
    padding: 0 40px 0 20px;
  }
  .list.faq .item .answer {
    padding: 0 20px;
  }
  .blockEntry .item {
    padding-right: 20px;
  }
  .image.positionimageTop .media,
  .video.positionimageTop .media,
  .gallery.positionimageTop .media {
    padding-bottom: 20px;
  }
  .image.positionimageBottom .media,
  .video.positionimageBottom .media,
  .gallery.positionimageBottom .media {
    padding-top: 20px;
  }
  .image.positionimageLeft .media,
  .video.positionimageLeft .media,
  .gallery.positionimageLeft .media {
    padding-right: 20px;
  }
  .image.positionimageRight .media,
  .video.positionimageRight .media,
  .gallery.positionimageRight .media {
    padding-left: 20px;
  }
  .maps .mapControl {
    left: 20px;
    top: 20px;
  }
  .actionButton {
    margin-bottom: 20px;
  }
  .sectionButtons .actionButton {
    margin: 0 10px 20px;
  }
  .section-tabs .tabs li {
    padding-left: 20px;
  }
  .social {
    margin-bottom: 20px;
  }
  .coverContent {
    bottom: 40px;
  }
  .positionTopLeft .coverContent,
  .positionTopRight .coverContent {
    bottom: auto;
    top: 40px;
  }
  .widgetData {
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .widgetData legend {
    padding: 0 10px;
    margin: 0 10px;
  }
  .widgetData .row {
    padding: 0 20px;
  }
  .sitemap .dxsmLevel0_C2G a,
  .sitemap .dxsmLevel1_C2G a,
  .sitemap .dxsmLevel0_C2G span,
  .sitemap .dxsmLevel1_C2G span {
    padding: 8px 20px !important;
  }
  .sitemap .dxsmLevel2_C2G a,
  .sitemap .dxsmLevel2_C2G span {
    padding: 8px 40px !important;
  }
  .sitemap .dxsmLevel3_C2G a,
  .sitemap .dxsmLevel3_C2G span {
    padding: 8px 60px !important;
  }
  .sitemap .dxsmLevel0_C2G a:before,
  .sitemap .dxsmLevel1_C2G a:before,
  .sitemap .dxsmLevel2_C2G a:before,
  .sitemap .dxsmLevel3_C2G a:before {
    right: 20px;
  }
  .search .searchCatTitle {
    padding: 20px 20px 3px;
  }
  .search-filter .item {
    padding-right: 20px;
  }
  .mainWidth {
    padding: 0px 2%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }
}
@media (min-width: 1200px) {
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_12 {
    padding-right: 20px;
  }
  .grid_12 {
    float: none;
  }
  .paddingLeft {
    padding-left: 20px;
  }
  .paddingRight {
    padding-right: 20px;
  }
  .paddingTop {
    padding-top: 20px;
  }
  .paddingBottom {
    padding-bottom: 20px;
  }
  .paddingAll {
    padding: 20px;
  }
  .paddingBoth {
    padding-left: 20px;
    padding-right: 20px;
  }
  .paddingLeftX2 {
    padding-left: 40px;
  }
  .paddingRightX2 {
    padding-right: 40px;
  }
  .paddingTopX2 {
    padding-top: 40px;
  }
  .paddingBottomX2 {
    padding-bottom: 40px;
  }
  .paddingAllX2 {
    padding: 40px;
  }
  .paddingBothX2 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .marginLeft {
    margin-left: 20px;
  }
  .marginRight {
    margin-right: 20px;
  }
  .marginTop {
    margin-top: 20px;
  }
  .marginBottom {
    margin-bottom: 20px;
  }
  .marginBoth {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footerContainer {
    padding: 20px 0;
  }
  .headerContainer {
    padding: 20px 0;
  }
  .headerContainer .mainNav,
  .headerContainer .topMenu {
    top: 20px;
  }
  .sectionItem {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footerText {
    padding-top: 20px;
    display: block;
  }
  .rss {
    top: 20px;
    right: 20px;
  }
  .noResults {
    padding: 0 20px;
  }
  .block {
    padding: 20px;
    margin-bottom: 20px;
  }
  .block .headerWidgetText {
    padding: 0 0 20px;
  }
  .block .footerWidgetText {
    padding: 20px 0 0;
  }
  .block .header {
    padding: 0 0 10px;
  }
  .block .footer {
    padding: 20px 0 0;
  }
  .forms {
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .forms .header {
    padding: 0 20px;
  }
  .forms .content .frmRow {
    padding-left: 20px;
    padding-right: 20px;
  }
  .forms .footer {
    padding: 0 20px;
  }
  .list {
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .list .headerWidgetText {
    padding: 0 20px 20px;
  }
  .list .footerWidgetText {
    padding: 20px 20px 0;
  }
  .list .header {
    padding: 0 20px 10px;
  }
  .list .content a,
  .list .content .item {
    padding: 7px 40px 7px 20px;
  }
  .list .content a:before,
  .list .content .item:before {
    right: 20px;
  }
  .list .footer {
    padding: 20px 20px 0;
  }
  .list.favorites .widgetEntry a {
    padding: 7px 40px 7px 55px;
  }
  .list.favorites .widgetEntry a .widgetHeader {
    padding: 0;
  }
  .list.faq .item {
    padding: 7px 0;
  }
  .list.faq .item .widgetHeader {
    padding: 0 40px 0 20px;
  }
  .list.faq .item .answer {
    padding: 0 20px;
  }
  .blockEntry .item {
    padding-right: 20px;
  }
  .image.positionimageTop .media,
  .video.positionimageTop .media,
  .gallery.positionimageTop .media {
    padding-bottom: 20px;
  }
  .image.positionimageBottom .media,
  .video.positionimageBottom .media,
  .gallery.positionimageBottom .media {
    padding-top: 20px;
  }
  .image.positionimageLeft .media,
  .video.positionimageLeft .media,
  .gallery.positionimageLeft .media {
    padding-right: 20px;
  }
  .image.positionimageRight .media,
  .video.positionimageRight .media,
  .gallery.positionimageRight .media {
    padding-left: 20px;
  }
  .maps .mapControl {
    left: 20px;
    top: 20px;
  }
  .actionButton {
    margin-bottom: 20px;
  }
  .sectionButtons .actionButton {
    margin: 0 10px 20px;
  }
  .section-tabs .tabs li {
    padding-left: 20px;
  }
  .social {
    margin-bottom: 20px;
  }
  .coverContent {
    bottom: 40px;
  }
  .positionTopLeft .coverContent,
  .positionTopRight .coverContent {
    bottom: auto;
    top: 40px;
  }
  .widgetData {
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .widgetData legend {
    padding: 0 10px;
    margin: 0 10px;
  }
  .widgetData .row {
    padding: 0 20px;
  }
  .sitemap .dxsmLevel0_C2G a,
  .sitemap .dxsmLevel1_C2G a,
  .sitemap .dxsmLevel0_C2G span,
  .sitemap .dxsmLevel1_C2G span {
    padding: 8px 20px !important;
  }
  .sitemap .dxsmLevel2_C2G a,
  .sitemap .dxsmLevel2_C2G span {
    padding: 8px 40px !important;
  }
  .sitemap .dxsmLevel3_C2G a,
  .sitemap .dxsmLevel3_C2G span {
    padding: 8px 60px !important;
  }
  .sitemap .dxsmLevel0_C2G a:before,
  .sitemap .dxsmLevel1_C2G a:before,
  .sitemap .dxsmLevel2_C2G a:before,
  .sitemap .dxsmLevel3_C2G a:before {
    right: 20px;
  }
  .search .searchCatTitle {
    padding: 20px 20px 3px;
  }
  .search-filter .item {
    padding-right: 20px;
  }
  .mainWidth {
    padding: 0px 5%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }
}
@media (min-width: 1600px) {
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_12 {
    padding-right: 25px;
  }
  .grid_12 {
    float: none;
  }
  .paddingLeft {
    padding-left: 25px;
  }
  .paddingRight {
    padding-right: 25px;
  }
  .paddingTop {
    padding-top: 25px;
  }
  .paddingBottom {
    padding-bottom: 25px;
  }
  .paddingAll {
    padding: 25px;
  }
  .paddingBoth {
    padding-left: 25px;
    padding-right: 25px;
  }
  .paddingLeftX2 {
    padding-left: 50px;
  }
  .paddingRightX2 {
    padding-right: 50px;
  }
  .paddingTopX2 {
    padding-top: 50px;
  }
  .paddingBottomX2 {
    padding-bottom: 50px;
  }
  .paddingAllX2 {
    padding: 50px;
  }
  .paddingBothX2 {
    padding-left: 50px;
    padding-right: 50px;
  }
  .marginLeft {
    margin-left: 25px;
  }
  .marginRight {
    margin-right: 25px;
  }
  .marginTop {
    margin-top: 25px;
  }
  .marginBottom {
    margin-bottom: 25px;
  }
  .marginBoth {
    margin-left: 25px;
    margin-right: 25px;
  }
  .footerContainer {
    padding: 25px 0;
  }
  .headerContainer {
    padding: 25px 0;
  }
  .headerContainer .mainNav,
  .headerContainer .topMenu {
    top: 25px;
  }
  .sectionItem {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .footerText {
    padding-top: 25px;
    display: block;
  }
  .rss {
    top: 25px;
    right: 25px;
  }
  .noResults {
    padding: 0 25px;
  }
  .block {
    padding: 25px;
    margin-bottom: 25px;
  }
  .block .headerWidgetText {
    padding: 0 0 25px;
  }
  .block .footerWidgetText {
    padding: 25px 0 0;
  }
  .block .header {
    padding: 0 0 12.5px;
  }
  .block .footer {
    padding: 25px 0 0;
  }
  .forms {
    padding: 25px 0;
    margin-bottom: 25px;
  }
  .forms .header {
    padding: 0 25px;
  }
  .forms .content .frmRow {
    padding-left: 25px;
    padding-right: 25px;
  }
  .forms .footer {
    padding: 0 25px;
  }
  .list {
    padding: 25px 0;
    margin-bottom: 25px;
  }
  .list .headerWidgetText {
    padding: 0 25px 25px;
  }
  .list .footerWidgetText {
    padding: 25px 25px 0;
  }
  .list .header {
    padding: 0 25px 12.5px;
  }
  .list .content a,
  .list .content .item {
    padding: 7px 50px 7px 25px;
  }
  .list .content a:before,
  .list .content .item:before {
    right: 25px;
  }
  .list .footer {
    padding: 25px 25px 0;
  }
  .list.favorites .widgetEntry a {
    padding: 7px 50px 7px 55px;
  }
  .list.favorites .widgetEntry a .widgetHeader {
    padding: 0;
  }
  .list.faq .item {
    padding: 7px 0;
  }
  .list.faq .item .widgetHeader {
    padding: 0 50px 0 25px;
  }
  .list.faq .item .answer {
    padding: 0 25px;
  }
  .blockEntry .item {
    padding-right: 25px;
  }
  .image.positionimageTop .media,
  .video.positionimageTop .media,
  .gallery.positionimageTop .media {
    padding-bottom: 25px;
  }
  .image.positionimageBottom .media,
  .video.positionimageBottom .media,
  .gallery.positionimageBottom .media {
    padding-top: 25px;
  }
  .image.positionimageLeft .media,
  .video.positionimageLeft .media,
  .gallery.positionimageLeft .media {
    padding-right: 25px;
  }
  .image.positionimageRight .media,
  .video.positionimageRight .media,
  .gallery.positionimageRight .media {
    padding-left: 25px;
  }
  .maps .mapControl {
    left: 25px;
    top: 25px;
  }
  .actionButton {
    margin-bottom: 25px;
  }
  .sectionButtons .actionButton {
    margin: 0 12.5px 25px;
  }
  .section-tabs .tabs li {
    padding-left: 25px;
  }
  .social {
    margin-bottom: 25px;
  }
  .coverContent {
    bottom: 50px;
  }
  .positionTopLeft .coverContent,
  .positionTopRight .coverContent {
    bottom: auto;
    top: 50px;
  }
  .widgetData {
    padding: 25px 0;
    margin-bottom: 25px;
  }
  .widgetData legend {
    padding: 0 12.5px;
    margin: 0 12.5px;
  }
  .widgetData .row {
    padding: 0 25px;
  }
  .sitemap .dxsmLevel0_C2G a,
  .sitemap .dxsmLevel1_C2G a,
  .sitemap .dxsmLevel0_C2G span,
  .sitemap .dxsmLevel1_C2G span {
    padding: 8px 25px !important;
  }
  .sitemap .dxsmLevel2_C2G a,
  .sitemap .dxsmLevel2_C2G span {
    padding: 8px 50px !important;
  }
  .sitemap .dxsmLevel3_C2G a,
  .sitemap .dxsmLevel3_C2G span {
    padding: 8px 75px !important;
  }
  .sitemap .dxsmLevel0_C2G a:before,
  .sitemap .dxsmLevel1_C2G a:before,
  .sitemap .dxsmLevel2_C2G a:before,
  .sitemap .dxsmLevel3_C2G a:before {
    right: 25px;
  }
  .search .searchCatTitle {
    padding: 25px 25px 3px;
  }
  .search-filter .item {
    padding-right: 25px;
  }
  .mainWidth {
    padding: 0px 10%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }
}
.bgColor1 {
  background: #274299;
}
.bgColor2 {
  background: #dadada;
}
.bgColor3 {
  background: #279ef2;
}
.bgColor4 {
  background: #8a48d4;
}
.bgGrey1 {
  background: #f1f1f1;
}
.sectionColor1 {
  background: #274299;
}
.sectionColor1 h1,
.sectionColor1 h2,
.sectionColor1 .blockTitle,
.sectionColor1 .widgetHeader,
.sectionColor1 .widgetSubHeader,
.sectionColor1 .widgetDate {
  color: #fff;
}
.sectionColor2 {
  background: #dadada;
}
.sectionColor2 h1,
.sectionColor2 h2,
.sectionColor2 .blockTitle,
.sectionColor2 .widgetHeader,
.sectionColor2 .widgetSubHeader,
.sectionColor2 .widgetDate {
  color: #fff;
}
.sectionColor3 {
  background: #279ef2;
}
.sectionColor4 {
  background: #8a48d4;
}
.imageDark .block {
  background: rgba(218, 218, 218, 0.8);
  color: #fff;
}
.imageDark .block h1,
.imageDark .block h2,
.imageDark .block .footer span {
  color: #274299;
}
@media (max-width: 900px) {
  .imageDark .block {
    background: none;
    color: #2c2c2c;
  }
}
.imageLight .block {
  background: rgba(39, 158, 242, 0.8);
  color: #fff;
}
.imageLight .block h1,
.imageLight .block h2,
.imageLight .block .footer span {
  color: #fff;
}
@media (max-width: 900px) {
  .imageLight .block {
    background: none;
    color: #2c2c2c;
  }
  .imageLight .block h1,
  .imageLight .block h2,
  .imageLight .block .footer span {
    color: inherit;
  }
}
.selectorColorWhite .cssSelectorColor {
  background: #fff;
}
.selectorColor1 .cssSelectorColor {
  background: #274299;
  color: #fff;
}
.selectorColor1 .cssSelectorColor .blockTitle,
.selectorColor1 .cssSelectorColor .widgetHeader {
  color: #fff;
}
.selectorColor2 .cssSelectorColor {
  background: #dadada;
  color: #fff;
}
.selectorColor2 .cssSelectorColor .blockTitle,
.selectorColor2 .cssSelectorColor .widgetHeader {
  color: #fff;
}
.selectorColor3 .cssSelectorColor {
  background: #279ef2;
}
.selectorColor4 .cssSelectorColor {
  background: #8a48d4;
}
.section-cover {
  padding: 0 !important;
}
.section-cover .cover .coverItem {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 900px) {
  .section-cover .cover .coverItem {
    background-image: none !important;
    height: auto !important;
  }
}
